@import "./scss/reset", "./scss/variable";

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

body{
    background-color: $backgroundColor;
    font-family: 'Amatic SC', cursive;
}